*{
	padding: 0;
	margin: 0;
	border: 0;
}



input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}


html {
    --top-spacing: 120px;
    scroll-padding-top: var(--top-spacing);
}


/*------------------------------------------*/



.header{
    padding: 0;
	margin: 0;
	border: 0;
    box-sizing: border-box;
    height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
    z-index: 1;
    padding: 0 60px 0 15px;
    height: 100px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
}


body {
    background: url(img/LxYm3GhonW0.jpg) no-repeat;
    background-size: 100%;
}

.simple{
    background: url(img/LxYm3GhonW0.jpg) no-repeat;
    background-size: 100%;
    padding-top: 20px;
}

ul {
    list-style: none;
}



.topmenu a {
    font-size: 18px;
    text-decoration: none;
    display: block;
    transition: .4s ease-in-out;
}


.topmenu>li>a:before{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    content: '';
    pointer-events: none;
    position: absolute;
    top: 100%;
    left: calc(50%);
    margin-left: -5px;
    opacity: 0;
    transition: all .3s;
    background-color: #da6111;
}

.topmenu>li:hover>a:before{
    top: -5px;
    opacity: 1; 
}


.topmenu>li>a {
    padding: 20px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    font-family: 'Exo 2', sans-serif;
}

.topmenu li a:hover {
    color: #da6111;
}

.submenu li a {

    border-bottom: 1px solid #e9e7e7;
    font-size: 18px;
    color: #484848;
    font-family: 'Kurale', serif;
}

@media(max-width: 599px) {
.topmenu>li>a {
    padding: 15px 20px;
}

.submenu li a {
    padding: 10px 20px;
    margin: 0 20px;
}
}

@media(min-width: 600px) {
.topmenu {
    width: 100%;
    display: flex;
    justify-content: center;
}
.topmenu>li {
    position: relative;
}
.topmenu>li:after {
    content: "";
    position: absolute;
    right: 0;
    width: 1px;
    height: 18px;
    background: #d2d2d2;
    top: 20px;
    box-shadow: 4px -2px 0 #d2d2d2;
    transform: rotate(30deg);
}

.topmenu>li:last-child:after {
    background: none;
    box-shadow: none;
}
    
.submenu {
    position: absolute;
    left: 50%;
    top: 100%;
    width: 210px;
    margin-left: -105px;
    border-radius: 0 0 8px 8px;
    background: #fafafa;
    border: 1px solid #424141;
    z-index: 5;
    visibility: hidden;
    opacity: 0;
    transform: scale(.8);
    transition: .4s ease-in-out;
}

.topmenu>li:hover .submenu {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
}

.submenu li a {
    text-align: center;
    padding: 10px 0;
    margin: 0 10px;
}
}

.input{
    text-align: center;
    border: solid 1px;
    width: 60px;
}


.a{
    border-bottom: 1px solid #e9e7e7;
    font-size: 18px;
    color: #484848;
    font-family: 'Kurale', serif;
    padding: 10px 20px;
    margin: 0 20px;
    text-align: center;
    padding: 10px 0;
    margin: 0 10px; 
}













.wrapper{
    border: solid 2px;
    margin: 5% 1% 5% 1%;
}



.top{
    border: solid 2px;
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.CountLeft{
    margin-left: 2%;
    justify-content: start;
    display: flex;
}
.CountRight{
    margin-right: 2%;
    justify-content: end;
    display: flex;
}

.mid{
    align-items: center;
    justify-content: center;
    display: flex;
}


.left{
    margin: 2%;
}

.right{
    margin: 2%;

}









.wave-btn_text{
    position: relative;
    letter-spacing: 8px;
    text-transform: uppercase;
    display: inline-block;
    color: black;
    text-decoration: none;
    padding: .2em 2em;
    border-color: rgb(158, 106, 226);
    border: solid 2px;
    border-radius: 10px 10px 10px 10px;
    transition: 0.2s;
}



.wave-btn :hover { 
    background: rgb(204, 203, 212); 
    box-shadow: 2px 2px 2px black;
    transform: scale(1.1, 1.1);
}

.wave-btn :active { 
    background: rgb(180, 163, 228);
}








.knopki{
    padding-top: 1%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.custom-radio {
    position: absolute;
    z-index: -1;
    opacity: 0;
}


.custom-radio+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}


.custom-radio+label::before {
    content: '';
    display: inline-block;
    width: 2em;
    height: 2em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    border-radius: 50%;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}


.custom-radio:not(:disabled):not(:checked)+label:hover::before {
    border-color: rgb(117, 5, 117);
    background-color:  rgb(158, 106, 226);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
}



.custom-radio:focus+label::before {
    box-shadow: 0 0 0 0.3rem rgb(158, 106, 226);
}




.output{
    margin: 5% 1% 5% 1%;
    visibility: hidden;
    margin-top: 2%;
    border: 1px solid;
}